In [1]:
from kadlu.geospatial.ocean import Ocean
from datetime import datetime
import numpy as np

In [2]:
sources = dict(
    load_bathymetry='chs', 
    load_temp='hycom',
    load_salinity='hycom',
    load_wavedir='era5',
    load_waveheight='era5',
    load_waveperiod='era5',
    load_wavedirection='era5',
    load_windspeed='era5'
)
bounds = dict(
    start=datetime(2015, 1, 9), end=datetime(2015, 1, 9, 3),
    south=44,                   west=-64.5, 
    north=46,                   east=-62.5, 
    top=0,                      bottom=5000
)

#### fetch and load the data into ocean module
environmental data will be set to uniform null values unless explicitly stated

In [3]:
null_ocean = Ocean(**bounds)

In [4]:
t1 = datetime.now()
full_ocean = Ocean(**sources, **bounds)
t2 = datetime.now()
print(f'interpolations computed in {(t2-t1).seconds}.{(t2-t1).microseconds} seconds')

interpolations computed in 3.19278 seconds

#### loading data using uniform wave values (passed as float or int)

In [5]:
o = Ocean(load_wavedir=180, load_waveheight=10, load_waveperiod=5, **bounds)

#### loading bathymetry from an array

In [7]:
bathy_arr = np.array((
    np.random.randint(0, 500, 100) *-1,
    np.linspace(bounds['south'], bounds['north']),
    np.linspace(bounds['west'],  bounds['east'])
))
o = Ocean(load_bathymetry=bathy_arr, **bounds)

#### loading bathymetry via fetch and load module with automatic fetching
passed as a string.
fetching must be stated explicitly, but loading is implicit

In [8]:
o = Ocean(fetch=True, load_bathymetry='chs', **bounds)

CA2_4600N06500W.tif: downloading 12/12 from CHS NONNA-100...
CA2_4300N06300W.tif processed and inserted 0 rows.	982446 null values removed, 19555 duplicate rows ignored
CA2_4300N06400W.tif processed and inserted 0 rows.	987844 null values removed, 14157 duplicate rows ignored
CA2_4300N06500W.tif processed and inserted 0 rows.	925018 null values removed, 76983 duplicate rows ignored
CA2_4400N06300W.tif processed and inserted 0 rows.	896834 null values removed, 105167 duplicate rows ignored
CA2_4400N06400W.tif processed and inserted 0 rows.	793492 null values removed, 208509 duplicate rows ignored
CA2_4400N06500W.tif processed and inserted 0 rows.	887161 null values removed, 114840 duplicate rows ignored
CA2_4500N06300W.tif processed and inserted 0 rows.	881343 null values removed, 120658 duplicate rows ignored
CA2_4500N06400W.tif processed and inserted 0 rows.	933129 null values removed, 68872 duplicate rows ignored
CA2_4500N06500W.tif processed and inserted 0 rows.	859257 null values removed, 142744 duplicate rows ignored
CA2_4600N06300W.tif processed and inserted 0 rows.	901841 null values removed, 100160 duplicate rows ignored
CA2_4600N06400W.tif processed and inserted 0 rows.	844720 null values removed, 157281 duplicate rows ignored
CA2_4600N06500W.tif processed and inserted 0 rows.	947396 null values removed, 54605 duplicate rows ignored